<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KC Hold'Em Quiz Poker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to KC Hold'Em Quiz Poker</h1>
        <div class="grey-box">
            <button id="create-room" class="btn btn-green">Create Room as QM</button>
            <div class="divider">OR</div>
            <input type="text" id="room-id" placeholder="Enter Room ID">
            <input type="text" id="team-name" placeholder="Enter Team Name">
            <button id="join-room" class="btn btn-orange">Join Room</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>